body {
    background: #fff
}

body.dark {
    background: #191919
}

@keyframes startup-shimmer-animation {
    0% {
        transform: translateX(-100%) translateZ(0)
    }
    100% {
        transform: translateX(100%) translateZ(0)
    }
}

@keyframes startup-shimmer-fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes startup-spinner-rotate {
    0% {
        transform: rotate(0) translateZ(0)
    }
    100% {
        transform: rotate(360deg) translateZ(0)
    }
}

#initial-loading-spinner {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: .5
}

#initial-loading-spinner svg {
    height: 24px;
    width: 24px;
    animation: startup-spinner-rotate 1s linear infinite;
    transform-origin: center center;
    pointer-events: none
}

#skeleton {
    background: #fff;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: none;
    overflow: hidden
}

#initial-loading-spinner.show, #skeleton.show {
    display: flex
}

body.dark #skeleton {
    background: #191919
}

.notion-front-page #skeleton, .notion-mobile #skeleton {
    display: none
}

#skeleton-sidebar {
    background-color: #fbfbfa;
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, .025);
    display: flex;
    width: 240px;
    flex-direction: column;
    padding: 12px 14px;
    overflow: hidden
}

body.dark #skeleton-sidebar {
    background-color: #202020;
    box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, .05)
}

#skeleton.isElectron #skeleton-sidebar {
    padding-top: 46px
}

#skeleton .row {
    display: flex;
    margin-bottom: 11px;
    align-items: center
}

#skeleton .row.fadein {
    animation: 1s ease-in 0s 1 normal both running startup-shimmer-fade-in
}

#skeleton .chevron {
    width: 12px;
    height: 12px;
    display: block;
    margin-right: 4px;
    fill: rgba(227, 226, 224, .5)
}

body.dark #skeleton .chevron {
    fill: #2f2f2f
}

.startup-shimmer {
    background: rgba(227, 226, 224, .5);
    overflow: hidden;
    position: relative
}

body.dark .startup-shimmer {
    background: #2f2f2f
}

.startup-shimmer::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: 1s linear infinite startup-shimmer-animation;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, 0) 100%)
}

body.dark .startup-shimmer::before {
    background: linear-gradient(90deg, transparent 0, rgba(86, 86, 86, .1) 50%, transparent 100%)
}

#skeleton .icon {
    width: 20px;
    height: 20px;
    border-radius: 4px
}

#skeleton .text {
    height: 10px;
    border-radius: 10px
}

#skeleton .draggable {
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    display: none
}

#skeleton.isElectron .draggable {
    display: block
}

.assistant-grouped-edit-chat-container .assistant-grouped-edit-insert {
    background: initial !important;
    border-bottom: initial !important;
    color: rgba(255, 255, 255, 0.81) !important;
}

.assistant-grouped-edit-chat-container .assistant-grouped-edit-remove {
    background: initial !important;
    border-bottom: initial !important;
    color: rgba(255, 255, 255, 0.13) !important;
}

.notion-app-inner.notion-dark-theme {
    color: rgba(255, 255, 255, 0.81);
    fill: currentcolor;
    line-height: 1.5;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: auto;
    background-color: rgba(0, 0, 0, 0);
}

.notion-cursor-listener {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    background: rgb(25, 25, 25);
    cursor: text;
}

.notion-cursor-listener__child {
    order: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

header {
    background: rgb(25, 25, 25);
    max-width: 100vw;
    z-index: 100;
    user-select: none;
}

.notion-topbar {
    width: calc(100% + 0px);
    max-width: 100vw;
    height: 44px;
    opacity: 1;
    transition: opacity 700ms ease 0s, color 700ms ease 0s;
    position: relative;
    left: 0px;
}

.notion-topbar__child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 44px;
    padding-left: 12px;
    padding-right: 10px;
}

.notranslate.shadow-cursor-breadcrumb {
    display: flex;
    align-items: center;
    line-height: 1.2;
    font-size: 14px;
    height: 100%;
    flex-grow: 0;
    margin-right: 8px;
    min-width: 0px;
}

.shadow-cursor-breadcrumb__child {
    text-decoration: none;
    user-select: none;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-shrink: 1;
    white-space: nowrap;
    height: 24px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.2;
    min-width: 0px;
    padding-left: 6px;
    padding-right: 6px;
    color: rgba(255, 255, 255, 0.81);
}

.notion-record-icon.notranslate {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    flex-shrink: 0;
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

.notion-record-icon.notranslate img {
    display: block;
    object-fit: cover;
    border-radius: 4px;
    width: 17.76px;
    height: 17.76px;
    transition: opacity 100ms ease-out 0s;

}

.notranslate {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}
